<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>ホーム画面</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main-content" class="hidden">
        <header>
            <h1>{{ title }}</h1>
            <ul class="header-ul">
                {% comment %} <li><a href="{{ upstream_url }}">上流</a></li>
                <li><a href="{{ midstream_url }}">中流</a></li>
                <li><a href="{{ downstream_url }}">下流</a></li> {% endcomment %}
                <li><a href="{% url 'webtestapp:index' %}">カードを作る</a></li>
                <li><a href="{% url 'webtestapp:aquatic_life' %}">水生生物図鑑</a></li>

            </ul>
            {% if position_links %}
                <h2>マップを選択</h2>
                <div class="year-map-container">
                    {% for year, links in position_links.items %}
                    <div class="year-section">
                        <button class="accordion">{{ year }}年度</button>
                        <div class="panel">
                            <ul>
                                <li><a href="{{ links.upstream }}">上流</a></li>
                                <li><a href="{{ links.midstream }}">中流</a></li>
                                <li><a href="{{ links.downstream }}">下流</a></li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>現在、年度ごとのデータはありません</p>
            {% endif %}
        </header>

    </div>

    <script>
        // document.getElementById('selection-form').addEventListener('submit', function(event) {
        //     event.preventDefault();
            
        //     const location = document.getElementById('locationSelect').value;
        //     const year = document.getElementById('yearSelect').value;
        
        //     // 選択された場所と年度に基づいてURLを生成
        //     const url = `/display_position/${location}/${year}/`;
        //     window.location.href = url;
        // });

        document.addEventListener('DOMContentLoaded', function () {
            const accordions = document.querySelectorAll('.accordion');

            accordions.forEach(accordion => {
                accordion.addEventListener('click', function () {
                    this.classList.toggle('active');
                    const panel = this.nextElementSibling;

                    if (panel.style.maxHeight && panel.style.maxHeight !== "0px") {
                        panel.style.maxHeight = "0px"; // パネルを閉じる
                        panel.style.padding = "0 15px"; // 閉じたときのパディングをゼロに
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px"; // コンテンツの高さに合わせて自動調整
                        panel.style.padding = "10px 15px"; // 開いたときのパディング
                    }
                });
            });
        });


    </script>
</body>
</html>





